<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="c:/Logs/nlog.log"
      internalLogLevel="Info">
  <extensions>
    <add assembly="NLog.AZure"/>
  </extensions>

  <targets async="true">
    <target name="ApplicationLog"
	    xsi:type="File" fileName="${azure-local-resource:name=LogStorage:default=c\:/Logs/}/application.log"
	    archiveFileName="${azure-local-resource:name=LogStorage:default=c\:/Logs/}/Archives/${date:format=yyyy-MM}/application_{#}.log"
	    maxArchiveFiles="100"
	    archiveEvery="Hour"
	    archiveNumbering="Date"
	    concurrentWrites="true"
	    keepFileOpen="true"
	    encoding="UTF-8"
	    layout = "${date:format=s} ${message}" >
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="ApplicationLog"/>
  </rules>
</nlog>
